#main-layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:relative;
  }
  
#main-layout  li,p {
    float: left;
  }
#main-layout li a{
    padding: 14px 16px;
}
#main-layout li a,p {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
#main-layout li a:hover {
    background-color: #111;
  }
#nav-username{
  padding:0;
  position:absolute;
  right:0;
}