<!DOCTYPE html> 
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/theme.css') }}>
        <title>{% block title %}{% endblock %} - Notes App </title>
        {% endblock %}
    </head>
    <body>
        <nav>
            <h1>Welcome to the note app!</h1>
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>