<!DOCTYPE html> 
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/theme.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/layout.css') }}>
        <title>{% block title %}{% endblock %} - Notes App </title>
        {% endblock %}
    </head>
    <body>
        <nav id="main-layout">
            <ul>
                <li> <a href={{ url_for('welcome') }}> Home </a></li>
                <li> <a href={{ url_for('browse') }}> Browse </a></li>
                {% if current_user.is_authenticated %}
                    <li> <a href={{ url_for('logout') }}> Logout </a></li>
                {% else %}
                    <li> <a href={{ url_for('login') }}> Login </a></li>
                {% endif %}
                <li> <a href={{ url_for('register') }}> Register </a></li>
                <li> <a href={{ url_for('createNote') }}> Create note </a></li>
                <li> <a href={{ url_for('mynotes') }}> My notes </a></li>
                {% if current_user.is_authenticated %}
                    <li id="nav-username"> <p> Logged in as {{ current_user.id }} </p></li>
                {% endif %}
            </ul>
            <!--<h1 class="layout">Welcome to the note app!</h1>-->
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>