{% extends "_layout.html" %}

{% block title %} Welcome {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form class = "user-data" name="reset-data" action="/updatePassword" method="post">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Enter new password" autocomplete="off" required></textarea>
  <input type="text" id="token" name="token" placeholder="" autocomplete="off" required style="visibility:hidden" value={{ request.args.get('token') }}></textarea>
  <input type="submit" class="submit-btn" value="Reset password">
</form>
{% endblock %}